# Visual Studio
.vs/
.vscode/
x64/
x86/
Debug/
Release/
ARM/
build/
*.user
*.suo
*.ipch
*.aps
*.log
*.tlog
*.idb
*.pdb
*.ilk
*.exp
*.lib
*.obj
*.iobj
*.pch
*.res
*.sdf
*.opensdf
*.opendb

# Executables
*.exe
*.dll
*.pdb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Cuda / PTX
*.ptx
*.cubin

# Temporary Scripts & Backups
*.ps1
*.bak
*.old
*.tmp
_Unused/
_Old/

# Local build logs & test files
build_log*.txt
build_fix_test.txt
*.wsb

# OS specific
.DS_Store
Thumbs.db

# Project Specific
.agent/
**/.agent/
**/render_animation/
**/raytraci.*/
*.zip
vcpkg/
.github/
SceneLog.txt
imgui.ini
raytracing_render_code.aps
raytrac_sdl2.vcxproj.maxkemal.nvuser
raytrac_sdl2.vcxproj.user